<section class="exercises-section" id="exercises-section">
  <div class="exercises-container">

    <!-- Основний контент: Універсальна сітка для категорій та вправ -->
    <div class="exercises-content">
      <ul class="exercises-list" id="exercises-list">
        <!-- Вміст рендериться динамічно через JS/TS -->
      </ul>

      <!-- Блок для помилки або порожнього результату -->
      <div class="exercises-error is-hidden" id="exercises-error">
        <p class="error-text">
          We couldn't find anything matching your search. Try adjusting your
          search term.
        </p>
      </div>

      <!-- Контейнер для пагінації -->
      <div class="pagination-container" id="exercises-pagination">
        <div class="pagination-side">

        </div>

        <div class="pagination-pages">

        </div>

        <div class="pagination-side">

        </div>

      </div>
    </div>

  </div>
</section>