<footer class="footer ">
  <div class="container footer-container">
    <div class="footer-main-content">
      <div class="footer-brand">
        <a href="./index.html" class="footer-logo">
          <svg class="footer-logo-svg">
            <use href="./sprite.svg#icon-logo-white"></use>
          </svg>
        </a>
        <ul class="socials-list">
          <li class="socials-item">
            <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" class="socials-link">
              <svg class="socials-icon">
                <use href="./sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer"
              class="socials-link">
              <svg class="socials-icon">
                <use href="./sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-item">
            <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" class="socials-link">
              <svg class="socials-icon">
                <use href="./sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-right-side-wrapper">
        <h2 class="footer-slogan">
          Transforming your <span class="italic-text">body</span> shape with us
        </h2>

        <div class="footer-subscribe">
          <p class="subscribe-text">Subscribe and learn about new exercises!</p>
          <form class="subscribe-form" id="footer-subscribe-form">
            <input type="email" name="email" class="subscribe-input" placeholder="Email" required />
            <button type="submit" class="subscribe-btn">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-legal">
      <p class="legal-text">Your Energy. All rights reserved.</p>
      <div class="legal-links">
        <a href="#" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        /
        <a href="#" target="_blank" rel="noopener noreferrer">Terms of Service</a>
      </div>
      <p class="year-text">&copy;2023</p>
    </div>
  </div>
</footer>