.exercises {
  padding-top: 40px;
  padding-bottom: 40px;
}

.exercises-wrapper {
  width: 100%;
}

.exercises-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .exercises-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-grid {
    gap: 32px;
  }
}

.exercise-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content auto;
  row-gap: 16px;
  width: 100%;
  height: 141px;
  box-sizing: border-box;
  overflow: hidden;
}

.exercise-card-header {
  display: grid;
  grid-template-columns: max-content max-content max-content auto;
  align-items: center;
}

.exercise-badge {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #242424;
  border-radius: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #242424;
  background-color: transparent;
  box-sizing: border-box;
  margin-right: 16px;
}

.exercise-rating {
  font-size: 12px;
  line-height: 18px;
  margin-right: 4px;
}

.icon-star {
  width: 14px;
  fill: #EEA10C;
}

.exercise-start-btn {
  justify-self: end;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #242424;
}

.icon-arrow {
  stroke: #242424;
  fill: none;
}

.exercise-title {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding-right: 16px;
  box-sizing: border-box;
}

.icon-run-man-small {
  width: 24px;
  height: 24px;
  fill: #242424;
}

.exercise-name-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.exercise-stats {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
  gap: 16px;
  font-size: 12px;
  color: #242424;
  padding-right: 16px;
}

.exercise-stats > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stat-label {
  color: rgba(36, 36, 36, 0.4);
}

.exercises-error-message {
  font-size: 16px;
  color: #242424;
  text-align: center;
  margin-top: 40px;
}

.is-hidden {
  display: none !important;
}