/* FAVORITES PAGE LAYOUT (Mobile Base)*/
.favorites-title {
  font-family: 'DM Sans', sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #242424;
  margin: 0;
  text-transform: capitalize;
  line-height: 1.09;
  margin-top: 80px;
}

.favorites-wrapper {
  display: block;
  margin-top: 20px;
}

.favorites-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.favorites-list .exercise-card {
  max-width: 335px;
  margin: 0 auto;
}

.favorites-empty-text {
  font: 400;
  font-size: 15px;
  line-height: 1.125;
  text-align: center;
}

/* TABLET LAYOUT 768px+ */
@media screen and (min-width: 768px) {
  .favorites-wrapper {
    margin-top: 32px;
  }

  .favorites-title {
    font-size: 44px;
    margin-top: 100px;
  }

  .favorites-list .exercise-card {
    max-width: 344px;
    margin: 0;
  }

  .favorites-list .exercise-name {
    line-height: 1.33;
  }

  .favorites-empty-state {
    max-width: 554px;
    margin: 100px auto;
  }

  .favorites-empty-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
  }

  .favorites-right-panel {
    margin-top: 132px;
  }

  .favorites-list {
    padding: 0px 75px;
  }
}

/* DESKTOP LAYOUT (1440px+)*/
@media screen and (min-width: 1440px) {
  .favorites-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .favorites-title {
    margin-top: 66px;
  }

  .favorites-left-panel {
    width: 494px;
    flex-shrink: 0;
  }

  .favorites-right-panel {
    margin-top: 0;
    width: 100%;
  }

  .favorites-list {
    margin: 0 148px 0 180px;
    padding: 0;
  }

  .favorites-list .exercise-card {
    max-width: 405px;
  }

  .favorites-empty-state {
    grid-column: 1 / -1;
    max-width: 554px;
    margin: 144px auto 0 auto;
    text-align: center;
  }
}
