.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-top: 20px;
  margin-bottom: 80px;
}
.pagination-btn,
.pagination-arrow {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 1px solid rgba(36, 36, 36, 0.2);

  background-color: transparent;

  font-size: 14px;
  cursor: pointer;

  transition: all 250ms ease;
}
.pagination-btn.active {
  background-color: #242424;
  color: #f4f4f4;
  border-color: #242424;
}

.pagination-btn:hover,
.pagination-arrow:hover {
  border-color: #242424;
}

.pagination-btn:disabled,
.pagination-arrow:disabled {
  opacity: 0.4;
  cursor: default;
}
@media screen and (min-width: 768px) {
  .pagination {
    gap: 10px;
    margin-top: 32px;
  }

  .pagination-btn,
  .pagination-arrow {
    width: 40px;
    height: 40px;

    font-size: 16px;
  }
}
