.quote-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.quote-card {
  display: flex;
  flex-direction: row;
  gap: 16px;
  min-width: 100%;
  background: #242424;
  color: white;
  border-radius: 20px;
  padding: 20px;
}

.icon-quote{
  fill: #f4f4f4;
}

.quote-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quote-text {
  color: #f4f4f499;
  line-height: 1.5;
}

.quote-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;
}

.quote-author {
  margin-top: 16px;
  font-weight: 600;
}

.quote-img{
  width: 335;
  height: 242;
}

.daily-norm {
  display: flex;
  gap: 16px;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
}

.daily-min {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 2px;
}

.daily-title {
  color: #24242499;
  font-size: 14px;
  margin-bottom: 20px;
}

.daily-text {
  font-weight: 400;
  font-size: 14px;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .quote-section {
    flex-direction: row;
  }

  .quote-card,
  .sport-card {
    width: calc((100% - 20px) / 2);
  }

  .daily-norm {
    gap: 16px;
    padding: 40px;
  }
}

/* Desktop */

@media screen and (min-width: 1440px) {
  .quote-section {
    gap: 32px;
  }

  .quote-card,
  .sport-card {
    padding: 32px;
  }
}